openapi: 3.1.0
info:
  title: Hyperbolic Inference Audio Chat API
  description: 'Hyperbolic offers OpenAI-compatible serverless inference for chat, completion,

    image generation and audio. Authenticate with an API key as a Bearer token.

    '
  version: 1.0.0
  contact:
    name: Hyperbolic Docs
    url: https://hyperbolic.ai/docs/
servers:
- url: https://api.hyperbolic.xyz/v1
security:
- bearerAuth: []
tags:
- name: Chat
paths:
  /chat/completions:
    post:
      summary: Create chat completion
      operationId: createChatCompletion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - model
              - messages
              properties:
                model:
                  type: string
                  example: meta-llama/Meta-Llama-3.1-70B-Instruct
                messages:
                  type: array
                  items:
                    type: object
                    properties:
                      role:
                        type: string
                        enum:
                        - system
                        - user
                        - assistant
                      content:
                        type: string
                temperature:
                  type: number
                max_tokens:
                  type: integer
                stream:
                  type: boolean
      responses:
        '200':
          description: Completion
          content:
            application/json:
              schema:
                type: object
      tags:
      - Chat
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
