openapi: 3.1.0
info:
  title: Hyperbolic Inference API
  description: |
    Hyperbolic offers OpenAI-compatible serverless inference for chat, completion,
    image generation and audio. Authenticate with an API key as a Bearer token.
  version: "1.0.0"
  contact:
    name: Hyperbolic Docs
    url: https://hyperbolic.ai/docs/
servers:
  - url: https://api.hyperbolic.xyz/v1
paths:
  /chat/completions:
    post:
      summary: Create chat completion
      operationId: createChatCompletion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model, messages]
              properties:
                model:
                  type: string
                  example: meta-llama/Meta-Llama-3.1-70B-Instruct
                messages:
                  type: array
                  items:
                    type: object
                    properties:
                      role:
                        type: string
                        enum: [system, user, assistant]
                      content:
                        type: string
                temperature:
                  type: number
                max_tokens:
                  type: integer
                stream:
                  type: boolean
      responses:
        '200':
          description: Completion
          content:
            application/json:
              schema:
                type: object
  /completions:
    post:
      summary: Create text completion
      operationId: createCompletion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model, prompt]
              properties:
                model:
                  type: string
                prompt:
                  type: string
                max_tokens:
                  type: integer
                temperature:
                  type: number
      responses:
        '200':
          description: Completion
  /models:
    get:
      summary: List available models
      operationId: listModels
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
  /image/generation:
    post:
      summary: Generate image
      operationId: generateImage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model_name, prompt]
              properties:
                model_name:
                  type: string
                  example: SDXL1.0-base
                prompt:
                  type: string
                height:
                  type: integer
                width:
                  type: integer
                steps:
                  type: integer
      responses:
        '200':
          description: OK
  /audio/generation:
    post:
      summary: Generate audio
      operationId: generateAudio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                language:
                  type: string
                speaker:
                  type: string
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
security:
  - bearerAuth: []
